.flarumtr-ust div span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}
.flarumtr-ust {
    width: 100%;
    display: table;
    
}

.flarumtr-footer  .flarumtr-ust div span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.flarumtr-footer .flarumtr-ust div {
    display: table-cell;
    width: 33%;
    color: #667c99;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.flarumtr-footer {
width: 100%;
overflow: hidden;
background-color: #e8ecf3;
background-position: unset;
color: #667c99;
border-color: #d9dde4;
border-style: inset;
border-width: 1px;
}

@media screen and (max-width: 600px) {
  .footergizle {
    visibility: hidden;
    clear: both;
    height: auto;
    display: none;
  }
 }
.social {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}
[class^="icon-btn"] /*.icon-btn*/ {
	height: 35px;
	width: 35px;
	border: 0;
	cursor: pointer;
	font-size: 25px;
	line-height: 35px;
	border-radius: 30px;
	margin-left: 10px;
	background-color: #e8ecf3;
}
.twitter {
	color: #4099FF;
}
.discord {
	color: #7289da;
}
.instagram {
	color: #c32aa3;
}
.youtube {
	color: #ff0000;
}

a.link {
	color: inherit;	
} /* sosyal medya */