body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    text-align: justify;
}


body{
    margin: 0px;
    padding: 0px;

}


.ornek{
    background-color: red;
    border-radius: 20px;
    position: sticky;
    top: 25px;
    height: 100px;
    padding: 10px;

}
.ornek a {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

